.about--container {
    padding: 0 1.25rem 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    

    .about--heading--container {
        height: 520px;
        display: grid;
        place-content: center;
        background: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=520&ixjsv=1.1.3&q=50&w=1333");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        h1 {
            font-size: 4rem;
            font-weight: 500;
            color: #fa6234;
        }
    }
}