@import './mixins';

.apprenticeships--container {
    padding: 2.5rem 1.25rem;
    border-bottom: 2px solid #eee;
    width: 100%;
    @include flex-col();
    gap: 1rem;

    .apprenticeships--h1 {
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 500;
    }

    .apprenticeships--h2 {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 500;
    }

    .apprenticeships--p {
        line-height: 1.5;
    }

    .apprenticeships--img {
        display: block;
        padding: 1.5rem 0;
    }

    a {
        color: $blue;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .apprenticeships--container {
        padding: 3.5rem 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .apprenticeships--container {
        padding: 5rem 1.25rem;
        max-width: 70ch;
    }
}

@media screen and (min-width: 1280px) {
    .apprenticeships--container {
        max-width: 85ch;
        padding: 6.25rem 2.5rem;

        .apprenticeships--h1 {
            font-size: 3.75rem;
            line-height: 1.1;
        }

        .apprenticeships--h2 {
            font-size: 1.875rem;
            line-height: 1.4;
        }

        .apprenticeships--p {
            font-size: 1.25rem;
        }
    }
}