footer {
    padding: 8.33333vw;
    display: flex;
    flex-direction: column;
    gap: 8.33333vw;

    .footer--main--logo {
        width: 122px;
    }

    .footer--nav {
        display: flex;
        flex-direction: column;
        gap: 8.33333vw;

        .footer--nav--ul--container {    
            display: flex;
            flex-direction: column;
            gap: 8.33333vw;

            &.container1 {
                .newsletter {
                    order: 1;
                }

                .socials {
                    order: 2;
                }

                .education {
                    order: 3;
                }
            }

            .footer--nav--ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .footer--nav--heading {
                    font-weight: 500;
                    font-size: 1rem;
                }

                a {
                    color: #000;
                    text-decoration: none;
                    line-height: 1.5;
                }

                .footer--nav--ul--socials {
                    list-style-type: none;
                    display: flex;
                    margin-top: .625rem;
                    gap: .625rem;

                    .facebook--link {
                        background: #3477f2;
                        display: grid;
                        place-content: center;
                        width: 32px;
                    }

                    .twitter--link {
                        background: #1da1f2;
                        @extend .facebook--link;
                    }

                    .youtube--link {
                        background: #ff001d;
                        @extend .facebook--link;
                    }

                    .reddit--link {
                        background: #f77737;
                        @extend .facebook--link;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .footer--newsletter--container {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                
                .footer--nav--heading {
                    font-weight: 500;
                    font-size: 1rem;
                }

                .footer--newsletter--p {
                    line-height: 1.5;
                }

                form {
                    margin-top: 1rem;
                    display: flex;
                    flex-wrap: wrap;

                    .form--email--submit {
                        background: $blue;
                        color: #fff;
                        border: none;
                        font-family: inherit;
                        font-weight: 500;
                        padding: 0.35rem 1.5rem;
                    }

                    .form--email--input {
                        background: #eee;
                        padding: 0.4rem 0.75rem;
                        font-family: inherit;
                        font-size: inherit;
                        border: none;
                    }
                }
            }

            .footer--location--container {
                .footer--nav--heading {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .footer--language--form {
                    margin-top: 0.75rem;
                    display: flex;
                    flex-wrap: wrap;

                    .footer--language--select {
                        padding: .35rem 50px .25rem .75rem;
                        background: #eee;
                        font-family: inherit;
                        font-size: .875rem;
                        font-weight: 500;
                        height: 1.875rem;
                        cursor: pointer;
                        border: none;
                    }
    
                    .footer--country--select {
                        padding: .35rem 50px .35rem .75rem;
                        background: #eee;
                        font-family: inherit;
                        font-size: .875rem;
                        font-weight: 500;
                        cursor: pointer;
                        border: none;
                        height: 1.875rem;
                        max-width: 200px;
                    }
                }
            }
        }
    }

    .footer--logo--container {
        display: flex;
        flex-direction: column;
        gap: 8.33333vw;

        .footer--nav--ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            a {
                color: #000;
                text-decoration: none;
                line-height: 1.5;
                font-size: .875rem;
                font-weight: 500;
            }
        }

        .footer--logo--text--container {
            display: flex;
            align-items: center;
            
            p {
                margin-left: 1rem;
                font-size: .875rem;
                font-weight: 500;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    footer {
        .footer--nav {
            .footer--nav--ul--container {
                .footer--nav--ul {
                    .footer--nav--ul--socials {
                        .facebook--link {
                            width: 40px;
                        }

                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        gap: 4.16667vw;

        .footer--nav {
            gap: 4.16667vw;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .footer--main--logo {
            width: 188px;
        }

        .footer--nav {
            .footer--nav--ul--container {
                flex-direction: row;

                &.container1 {
                    .newsletter {
                        order: unset;
                    }
    
                    .socials {
                        order: unset;
                    }
    
                    .education {
                        order: unset;
                    }
                }

                .footer--nav--ul {
                    min-width: 232px;

                    &.newsletter {
                        width: 40%;
                    }
                }
                
                .footer--location--container {
                    width: 40%;
                }
            }

            .footer--logo--container {
                flex-direction: row;
                justify-content: space-between;

                .footer--nav--ul {
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    footer {
        .footer--nav {
            .footer--nav--ul--container {
                .footer--nav--ul {
                    min-width: 250px;

                    .footer--nav--heading {
                        font-size: 1.25rem;
                    }

                    a {
                        font-size: 1.25rem;
                    }
                }

                .footer--newsletter--container {
                    .footer--nav--heading {
                        font-size: 1.25rem;
                    }

                    .footer--newsletter--p {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1750px) {
    footer {
        .footer--nav {
            .footer--nav--ul--container {
                .footer--nav--ul {
                    min-width: 300px;
                }
            }
        }
    }
}