.mobile--header {
    // border: 1px solid red;
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .mobile--header--logo {
        width: 60px;
        height: 28px;
    }

    .mobile--header--menu--toggle {
        border: none;
        background: none;
        font-size: 1.25rem;
        font-family: inherit;
    }
}

.mobile--header--nav--ul {
    display: none;

    &.show {
        display: flex;
        flex-direction: column;
    }
}