.mobile--header {
    border-bottom: 2px solid #eee;
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .mobile--header--logo {
        width: 60px;
        height: 28px;
        z-index: 101;
    }

    .mobile--header--menu--toggle {
        border: none;
        background: none;
        font-size: 1.25rem;
        font-family: inherit;
        font-weight: 500;
        z-index: 101;
    }
}

.mobile--header--nav--ul {
    display: none;

    &.show {
        padding: 5rem 1.25rem 2rem 1.25rem;
        background: $blue;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        animation: height .1s ease-in-out;
        z-index: 100;

        @keyframes height {
            0% {
                opacity: 0;
                max-height: 0;
            }

            100% {
                opacity: 1;
                max-height: 45rem;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 500;

        &.mobile--login {
            font-size: .875rem;
            display: inline-block;
        }

        &.mobile--header--heading1--link {
            font-size: .875rem;
        }

        &.mobile--about {
            color: $light-orange;
        }
    }

    .mobile--header--heading {
        margin-top: 1rem;
        color: #fff;
        font-weight: 500;
    }

    .mobile--header--nav--ul--li--container {
        margin-top: -1rem;
        display: flex;
        gap: 2rem;
        overflow-x: scroll;
        padding-bottom: .5rem;

        .mobile--header--nav--ul--li--subcontainer {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            font-size: .875rem;

            p {
                font-weight: 400;
                width: 13rem;
            }
        }

        &::-webkit-scrollbar {
            height: .075rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgb(192, 192, 192);
        }
    }
}

.desktop--header {
    border-bottom: 2px solid #eee;
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .header--nav {
        flex-grow: 1;
        
        .header--nav--ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 1.75rem;
    
            .li--link--live {
                margin-left: auto;
            }

            .nav--ul--more--button {
                border: none;
                background: none;
                font-size: 1.25rem;
                font-family: inherit;
                font-weight: 500;
                color: $light-orange;
                cursor: pointer;
            }
    
            a {
                text-decoration: none;
                color: #000;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.5;

                &.link--live {
                    color: $blue;
                }

                &.link--login {
                    font-size: .875rem;
                    display: block;
                    margin-top: -.125rem;
                }
            }
        }
    }

    .header--nav--more--ul {
        display: none;
        width: 100%;

        &.show {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            animation: height .3s ease-in-out;

            @keyframes height {
                0% {
                    opacity: 0;
                    max-height: 0;
                }

                100% {
                    opacity: 1;
                    max-height: 30rem;
                }
            }

            .header--nav--more--ul--heading {
                font-size: 1.5rem;
                font-weight: 500;

                &:nth-of-type(2) {
                    margin-top: 1rem;
                }
            }

            .nav--more--ul {
                list-style-type: none;
                display: flex;
                gap: 1.75rem;

                a {
                    text-decoration: none;
                    color: #000;

                    &.link--about {
                        color: $light-orange;
                    }
                }
            }

            .nav--more--ul2 {
                list-style-type: none;
                display: flex;
                gap: 1.75rem;

                h4 {
                    font-weight: 500;
                }

                a {
                    line-height: 1.5;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .desktop--header {
        padding: 1.25rem 2.5rem;
        gap: 3rem 2rem;

        .header--nav {
            .header--nav--ul {
                gap: 2.25rem;

                a {
                    &.link--login {
                        
                        font-size: 1rem;
                    }
                }
            }
        }

        .header--nav--more--ul {
            &.show {
                .header--nav--more--ul--heading {
                    font-size: 1.875rem;

                    &:nth-of-type(2) {
                        margin-top: 2rem;
                    }
                }

                .nav--more--ul, .nav--more--ul2 {
                    font-size: 1.25rem;

                    &.nav--more--ul {
                        gap: 2.25rem;
                    }
                }
            }
        }
    }
}