@mixin background-props {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.jobs--container {
    padding: 0 1.25rem 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 2px solid #eee;

    .jobs--heading--container {
        height: 600px;
        background: url("../images/jobs-header1.avif");
        @include background-props();
        display: grid;
        place-content: center;

        .jobs--heading {
            color: #00ffff;
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    .jobs--h2 {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 500;
    }

    .jobs--p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .jobs--job--listing--container {
        display: flex;
        flex-direction: column;
        gap: 2.25rem;

        .job--listing--ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            &:first-child {
                padding-bottom: 2.25rem;
                border-bottom: 2px solid #eee;
            }

            .job--listing--ul--heading {
                font-size: 1rem;
                line-height: 1.5;
                font-weight: 500;
            }

            .job--listing--link {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                text-decoration: none;

                .job--title {
                    color: $blue;
                }

                .job--location {
                    color: #595959;
                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .jobs--container {
        .jobs--heading--container {
            background: url("../images/jobs-header2.avif");
            @include background-props();
        }
    }
}

@media screen and (min-width: 425px) {
    .jobs--container {
        .jobs--heading--container {
            background: url("../images/jobs-header3.avif");
            @include background-props();
        }
    }
}

@media screen and (min-width: 768px) {
    .jobs--container {
        padding: 0 1.25rem 4.5rem 1.25rem;

        .jobs--heading--container {
            .jobs--heading {
                font-size: 5.625rem;
            }
        }

        h2, p, .jobs--job--listing--container {
            width: 500px;
            margin: auto;

        }
        
        h2 {
            margin-top: 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .jobs--container {
        .jobs--heading--container {
            background: url("../images/jobs-header4.avif");
            @include background-props();
        }

        h2 {
            margin-top: 3rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .jobs--container {
        padding: 0 2.5rem 6rem 2.5rem;
        
        .jobs--heading--container {
            background: url("../images/jobs-header5.avif");
            @include background-props();
            
            .jobs--heading {
                font-size: 6.875rem;
            }
        }

        h2, p, .jobs--job--listing--container {
            width: 650px;
        }

        .jobs--h2 {
            margin-top: 5rem;
            font-size: 1.875rem;
            line-height: 1.4;
        }

        .jobs--p {
            font-size: 1.25rem;
        }

        .jobs--job--listing--container {
            .job--listing--ul {
                .job--listing--ul--heading {
                    font-size: 1.25rem;
                }

                .job--listing--link {
                    font-size: 1.25rem;
                }
            }
        }
    }
}