.pages--nav {
    padding: 1rem 1.25rem;
    position: sticky;
    top: 0;
    transition: top .3s;
    z-index: 90;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(.25rem);

    .pages--nav--ul {
        list-style-type: none;
        display: flex;
        gap: 1.5rem;
        
        .pages--link {
            font-size: .875rem;
            text-decoration: none;
            color: #000;
            font-weight: 500;
            
            &.active {
                color: #ff764d;
            }
        }

    }
}

@media screen and (min-width: 1280px) {
    .pages--nav {
        padding: 1rem 2.5rem;

        .pages--nav--ul {
            gap: 2rem;

            .pages--link {
                font-size: 1rem;
            }   
        }
    }
}