@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Jost, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.mobile--header {
  border-bottom: 2px solid #eee;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.mobile--header .mobile--header--logo {
  width: 60px;
  height: 28px;
  z-index: 99;
}

.mobile--header .mobile--header--menu--toggle {
  border: none;
  background: none;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  z-index: 99;
}

.mobile--header--nav--ul {
  display: none;
}

.mobile--header--nav--ul.show {
  padding: 5rem 1.25rem 2rem 1.25rem;
  background: #0000ff;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile--header--nav--ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.mobile--header--nav--ul a.mobile--login {
  font-size: .875rem;
  display: inline-block;
}

.mobile--header--nav--ul a.mobile--header--heading1--link {
  font-size: .875rem;
}

.mobile--header--nav--ul a.mobile--about {
  color: #ff764d;
}

.mobile--header--nav--ul .mobile--header--heading {
  margin-top: 1rem;
  color: #fff;
  font-weight: 500;
}

.mobile--header--nav--ul .mobile--header--nav--ul--li--container {
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
}

.mobile--header--nav--ul .mobile--header--nav--ul--li--container .mobile--header--nav--ul--li--subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
  font-size: .875rem;
}

.mobile--header--nav--ul .mobile--header--nav--ul--li--container .mobile--header--nav--ul--li--subcontainer p {
  font-weight: 400;
  width: 13rem;
}

.desktop--header {
  border-bottom: 2px solid #eee;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.desktop--header .header--nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.desktop--header .header--nav .header--nav--ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
}

.desktop--header .header--nav .header--nav--ul .li--link--live {
  margin-left: auto;
}

.desktop--header .header--nav .header--nav--ul .nav--ul--more--button {
  border: none;
  background: none;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  color: #ff764d;
  cursor: pointer;
}

.desktop--header .header--nav .header--nav--ul a {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.desktop--header .header--nav .header--nav--ul a.link--live {
  color: #0000ff;
}

.desktop--header .header--nav .header--nav--ul a.link--login {
  font-size: .875rem;
  display: block;
  margin-top: -.125rem;
}

.desktop--header .header--nav--more--ul {
  display: none;
  width: 100%;
}

.desktop--header .header--nav--more--ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.desktop--header .header--nav--more--ul.show .header--nav--more--ul--heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.desktop--header .header--nav--more--ul.show .header--nav--more--ul--heading:nth-of-type(2) {
  margin-top: 1rem;
}

.desktop--header .header--nav--more--ul.show .nav--more--ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}

.desktop--header .header--nav--more--ul.show .nav--more--ul a {
  text-decoration: none;
  color: #000;
}

.desktop--header .header--nav--more--ul.show .nav--more--ul a.link--about {
  color: #ff764d;
}

.desktop--header .header--nav--more--ul.show .nav--more--ul2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}

.desktop--header .header--nav--more--ul.show .nav--more--ul2 a {
  line-height: 1.5;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 1280px) {
  .desktop--header {
    padding: 1.25rem 2.5rem;
    gap: 3rem 2rem;
  }
  .desktop--header .header--nav .header--nav--ul {
    gap: 2.25rem;
  }
  .desktop--header .header--nav .header--nav--ul a.link--login {
    font-size: 1rem;
  }
  .desktop--header .header--nav--more--ul.show .header--nav--more--ul--heading {
    font-size: 1.875rem;
  }
  .desktop--header .header--nav--more--ul.show .header--nav--more--ul--heading:nth-of-type(2) {
    margin-top: 2rem;
  }
  .desktop--header .header--nav--more--ul.show .nav--more--ul, .desktop--header .header--nav--more--ul.show .nav--more--ul2 {
    font-size: 1.25rem;
  }
  .desktop--header .header--nav--more--ul.show .nav--more--ul.nav--more--ul, .desktop--header .header--nav--more--ul.show .nav--more--ul2.nav--more--ul {
    gap: 2.25rem;
  }
}

.pages--nav {
  padding: 1rem 1.25rem;
}

.pages--nav .pages--nav--ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.pages--nav .pages--nav--ul .pages--link {
  font-size: .875rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.pages--nav .pages--nav--ul .pages--link.active {
  color: #ff764d;
}

@media screen and (min-width: 1280px) {
  .pages--nav {
    padding: 1rem 2.5rem;
  }
  .pages--nav .pages--nav--ul {
    gap: 2rem;
  }
  .pages--nav .pages--nav--ul .pages--link {
    font-size: 1rem;
  }
}

.apprenticeships--container {
  padding: 2.5rem 1.25rem;
  border-bottom: 2px solid #eee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.apprenticeships--container .apprenticeships--h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 500;
}

.apprenticeships--container .apprenticeships--h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.apprenticeships--container .apprenticeships--p {
  line-height: 1.5;
}

.apprenticeships--container .apprenticeships--img {
  display: block;
  padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .apprenticeships--container {
    padding: 3.5rem 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .apprenticeships--container {
    max-width: 70ch;
  }
}

@media screen and (min-width: 1280px) {
  .apprenticeships--container {
    max-width: 85ch;
    padding: 6.25rem 2.5rem;
  }
  .apprenticeships--container .apprenticeships--h1 {
    font-size: 3.75rem;
    line-height: 1.1;
  }
  .apprenticeships--container .apprenticeships--h2 {
    font-size: 1.875rem;
    line-height: 1.4;
  }
  .apprenticeships--container .apprenticeships--p {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=general.css.map */